<div class="row">
  <% @customer.each do |customer| %>
    <div class="col-md-3">
      <div class="card">
         <%= link_to customer_path(customer.id) do %>
        <%= image_tag customer.get_profile_image(100,100), class: 'card-img-top' %><% end %>
        <%= customer.name %>
      </div>
    </div>
  <% end %>
</div>