<div class =container>
<table class="table">
  <thred>
   <tr>
   <th>プロフィール画像</th>
   <th>名前</th>
   <th>会員ID</th>
   </tr>
   </thred>
   <tbody>
     <% @customer.each do |customer| %>
      <tr>
        <td><%= link_to customer_path(customer.id) do %>
            <%= image_tag customer.get_profile_image(80,80)%><% end %></td>
        <td><%= customer.name %></td>
        <td><%= customer.id %></td>
      </tr>
     <% end %>
    </tbody>
  </table>
</div>