<% @posts.each do |post| %>
<div>
  <%= image_tag post.get_image %>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p>ショップ名：<%= post.name %></p>
  <p>説明：<%= post.description %></p>
</div>
<% end %>